<%= form_for(@curso) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="container">
  <div class="row">
    <div id="registro">
        <fieldset>       
              <div class="span4 offset4">
                <%= f.label :curso %>
                <%= f.select :curso, @cursos, {},{class: 'input-medium seguido'} %>
                <%= f.select :tipo, ['Grado', 'Curso' ], {},{class: 'input-small seguido'} %>
              </div>
              <div class="span3 offset4">
                <%= f.label :turno %>
                <%= f.select(:turno, ['Mañana', 'Tarde', 'Noche' ])%>
                <%= f.label :nivel %>
                <%= f.select(:nivel, ['Educación Escolar Básica', 'Educación Media' ])%>
                <%= f.label :enfasis %>
                <%= f.select(:enfasis, ['Ciencias Sociales', 'Ciencias Básicas', 'Técnico en Informática', 'Técnico en Contabilidad', 'Técnico en Administración', 'Otros' ])%>
                <%= f.submit "Guardar",class: "btn btn-large btn-primary"%>
                <%= link_to "Cancelar", :back, class: "btn btn-large btn-inverse" %>
              </div>
            <% end %>
        </fieldset>
    </div>
  </div>
</div>
