<%= form_for(@curso) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="labelAlineacion">
  <%= f.label :curso %>
  <%= f.text_field :curso, :size => 40, :maxlength => 20 %>
  <%= f.label :turno %>
  <%= f.select(:turno, ['Mañana', 'Tarde', 'Noche' ])%>
  <%= f.label :nivel %>
  <%= f.select(:nivel, ['Educación Escolar Básica', 'Educación Media' ])%>
  <%= f.label :enfasis %>
  <%= f.select(:nivel, ['Ciencias Sociales', 'Ciencias Básicas', 'Técnico en Informática', 'Técnico en Contabilidad', 'Técnico en Administración', 'Otro' ])%>
</div>
   <%= f.submit "Guardar",class: "btn btn-large btn-inverse middle"   %>
<% end %>
