<div class="row">
  <div class="span8 offset2">
    <h1>Lista de Cursos</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Curso</th>
        <th>Turno</th>
        <th>Nivel</th>
        <th>Enfasis</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.curso %></td>
        <td><%= curso.turno %></td>
        <td><%= curso.nivel %></td>
        <td><%= curso.enfasis %></td>
        <td><%= link_to 'Mostrar', curso %></td>
        <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
        <td><%= link_to 'Eliminar', curso, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @cursos %>
  </div>
</div>
<%= link_to 'Registrar Curso', new_curso_path %>
