<div class="container">
  <div class="row">
    <legend>Lista de Cursos</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Curso</th>
            <th>Turno</th>
            <th>Nivel</th>
            <th>Enfasis</th>
            <th>Año</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @cursos.each do |curso| %>
            <tr>
              <td><%= link_to curso.curso_grado, curso %></td>
              <td><%= curso.turno %></td>
              <td><%= curso.nivel %></td>
              <td><%= curso.enfasis %></td>
              <td><%= curso. created_at.to_s.slice(0,4); %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_curso_path(curso) %>
                <%= link_to 'Eliminar', curso, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @cursos %>
      <div class="link">
        <% if current_user.is_administrativo %>
          <%= link_to 'Volver ->', cursos_path %>
          <%= link_to 'Ver Lista como pdf ->', index_total_cursos_path(:format => 'pdf') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

