<div class="container">
  <div class="row">
    <legend>Lista de Cursos del <%= Date.today.year %></legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Curso</th>
            <th>Turno</th>
            <th>Nivel</th>
            <th>Enfasis</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @cursos.each_with_index do |curso, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= link_to curso.curso_grado, curso %></td>
              <td class="selection <%= id %>"><%= curso.turno %></td>
              <td class="selection <%= id %>"><%= curso.nivel %></td>
              <td class="selection <%= id %>"><%= curso.enfasis %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_curso_path(curso) %>
                <%= link_to 'Eliminar', curso, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @cursos.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', cursos_path(:format => 'pdf') %>
          <i class="icon-plus-sign"></i><%= link_to 'Registrar Curso', new_curso_path %>
          <i class="icon-list"></i><%= link_to 'Ver Todos los cursos', index_total_cursos_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @cursos.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>