<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Cursos</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th id="centrar">Cant</th>
            <th id="centrar">Curso</th>
            <th id="centrar">Turno</th>
            <th id="centrar">Nivel</th>
            <th id="centrar">Enfasis</th>
            <th id="centrar">Año</th>
            <% if current_user.is_administrativo %>
              <th id="centrar">Acciones</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @cursos.each_with_index do |curso, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= i+1 %></td>
              <td class="selection <%= id %>"><%= link_to curso.curso_grado, curso %></td>
              <td class="selection <%= id %>"><%= curso.turno %></td>
              <td class="selection <%= id %>"><%= curso.nivel %></td>
              <td class="selection <%= id %>"><%= curso.enfasis %></td>
              <td class="selection <%= id %>"><%= curso. created_at.to_s.slice(0,4); %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_curso_path(curso) %>
                <%= link_to 'Eliminar', curso, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @cursos.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-arrow-left"></i><%= link_to 'Volver', cursos_path %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', index_total_cursos_path(:format => 'pdf') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @cursos.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>