<p id="notice"><%= notice %></p>
<% provide(:title, @curso.curso) %>
<div class="container">
<div class="row">
  <div class="cabezera span3">
    <aside>
      <section>
        <h1>
          <%= @curso.curso %>
        </h1>
        <% if current_user.is_administrativo %>
          <span><%= link_to '(Editar)', edit_curso_path(@curso) %> </span>
        <% end %>
      </section>
      <section>
        <p>
    		  <b>Turno:</b>
    		  <%= @curso.turno %>
    		</p>
            <p>
    		  <b>Nivel:</b>
    		  <%= @curso.nivel %>
    		</p>
    		<p>
    		  <b>Enfasis:</b>
    		  <%= @curso.enfasis %>
    		</p>
        <p>
          <b>Cantidad de Alumnos:</b>
          <%= @curso.alumnos.count %>
        </p>
        <% if current_user.is_administrativo %>
          <p>
            <b><%= link_to 'Registrar nueva Materia', new_materia_path %></b>
          </p>
        <% end %>
        <label class="label">Materias</label>
          <ul class="nav nav-tabs nav-stacked">
            <% @curso.materias.each do |materia| %>
              <li class="li"><%= link_to materia.materia + " | " + materia.docente.user_nombre + ' ' + materia.docente.user_apellido , materia%> </li>
            <% end %>
          </ul>
      </section>
    </aside>
  </div>
  <div class="datos span8">
    <label class="label">Lista de Alumnos del <%= @curso.curso %> </label>
    <div align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Alumnos</th>
          <th>Edad</th>
          <th>Fecha de Inscripcion</th>
        </tr>
      </thead>
      <tbody>
        <% @curso.alumnos.order("created_at desc").each do |alumno| %>
          <tr>
            <td><%= link_to alumno.full_name, alumno %></td>
            <td><%= alumno.user_edad %> </td>
            <td><%= alumno.user_created_at.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div align="right">
      <%= link_to 'Ver Lista como pdf ->', curso_path(@curso, format: 'pdf') %>
    </div>
  </div>
</div>
</div>



