<p id="notice"><%= notice %></p>
<% provide(:title, @curso.curso) %>
<div class="container">
<div class="row">
  <div class="cabezera span3">
    <aside>
      <section>
        <h1>
          <%= @curso.curso %>
        </h1>
      </section>
      <section>
        <p>
		  <b>Turno:</b>
		  <%= @curso.turno %>
		</p>
        <p>
		  <b>Nivel:</b>
		  <%= @curso.nivel %>
		</p>
		<p>
		  <b>Enfasis:</b>
		  <%= @curso.enfasis %>
		</p>
      </section>
    </aside>
  </div>
  <div class="datos span8">
    
    <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Materia</th>
          <th>Area</th>
          <th>Docente</th>
        </tr>
      </thead>
      <tbody>
        <% @curso.materias.each do |materia| %>
          <tr>
            <td><%= link_to materia.materia, materia %><%=  %></td>
            <td><%= materia.area %></td>
            <td><%= materia.docente.user.nombre + ' ' + materia.docente.user.apellido %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
</div>

<% if current_user.is_administrativo %>
  <%= link_to 'Editar', edit_curso_path(@curso) %> |
<% end %>
<%= link_to 'Listar', cursos_path %>


