<!DOCTYPE html>
<html>
<head>
  <title>Sistema Academico | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/shim' %> 
</head>

<body>
  <%= render 'layouts/header' %> 
  <div id="principal" class="container">
    <%= yield %>
  </div>

</html>

<script type="text/javascript">
  $(document).ready(function(){
    <% actual_page = request.original_url %>
    <% ApplicationController.save_preference("last_page", current_user, actual_page) %>
  });
</script>