<!DOCTYPE html>
<html>
<head>
  <title>Sistema Academico | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "modal-jquery.min", "bootstrap-modal" %>
  <%= javascript_include_tag "jquery.min", "jquery-ui.min", "calendar"  %>
  <%= javascript_include_tag  "bootstrap-dropdown" %>
  
  <script type="text/javascript">
    $(document).ready(function() {
  		$("#fecha").datepicker({
  		changeMonth: true,
  		changeYear: true,
  		onSelect: function(dateText, inst) {}
  		});
  	});
  </script>
  <%= render 'layouts/shim' %> 
</head>
<body>
<%= render 'layouts/header' %> 
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
