<div class="row">
  <div class="span6 offset3">
    <%= form_for(@administrativo) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :user_id %>
      <%= f.collection_select :user_id ,@users,:id,:CINro %>
      <%= f.label :cargo, :maxlength => 30 %>
      <%= f.text_field :cargo %>
      <%= f.label :titulo %>
      <%= f.text_field :titulo, :maxlength => 30 %>
      <%= f.submit "Guardar", class: "btn btn-large btn-inverse" %>
    <% end %>
  </div>
</div>