<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Administrativos</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th id="centrar">Cant</th>
            <th id="centrar">Nombre</th>
            <th id="centrar">Apellido</th>
            <th id="centrar">Cargo</th>
            <th id="centrar">Telefono</th>
            <th id="centrar">Titulo</th>
            <th id="centrar">Fecha de Registro</th>
            
            <% if current_user.is_administrativo %>
            <th id="centrar">Acciones</th>
              
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @administrativos.each_with_index do |administrativo, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= i+1 %></td>
              <td class="selection <%= id %>"><%= link_to administrativo.user_nombre, administrativo %></td>
              <td class="selection <%= id %>"><%= administrativo.user_apellido %></td>
              <td class="selection <%= id %>"><%= administrativo.cargo %></td>
              <td class="selection <%= id %>"><%= administrativo.user_telefono %></td>
              <td class="selection <%= id %>"><%= administrativo.titulo %></td>
              <td class="selection <%= id %>"><%= administrativo.created_at.to_s.slice(0,10); %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_administrativo_path(administrativo) %>
                <%= link_to 'Eliminar', administrativo, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @administrativos.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', administrativos_path(:format => 'pdf') %>
          <i class="icon-plus-sign"></i><%= link_to 'Registrar Nuevo Administrativo', new_administrativo_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @administrativos.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>