<% provide(:title, @administrativo.user_nombre) %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="cabezera">
    <aside>
      <section>
        <h1>
          Datos del administrativo
        </h1>
      </section>
      <section>
        <h1>
          <%= @administrativo.user_nombre %>
        </h1>
        <% if current_user.is_administrativo %>
          <%= link_to 'Editar', edit_administrativo_path(@administrativo) %>
        <% end %>
      </section>
    </aside>
  </div>
  <div class="datos">
    <p>Apellido: <%= @administrativo.user_apellido %></p>
    <p>Sexo: <%= @administrativo.user_sexo %></p>
    <p>Telefono: <%= @administrativo.user_telefono %></p>
    <p>Fecha de Nacimiento: <%= @administrativo.user_fecha_nacimiento %></p>
    <p>Lugar de Nacimiento: <%= @administrativo.user_lugar_nacimiento %></p>
    <p>Direccion: <%= link_to @administrativo.user.address.direccion, @administrativo.user.address %></p>
    <p>Edad: <%= @administrativo.user_edad %></p>
    <p>Cargo: <%= @administrativo.cargo %></p>
    <p>Titulo del Administrativo: <%= @administrativo.titulo %></p>
  </div>
</div>
</div>
