<table id="my-table" class="table table-bordered">
	<thead class="table-title">
	  <tr>
	    <th>Alumno</th>
	    <th>Puntaje Alcanzado</th>
	    <th>Calificacion</th>
	   </tr>
	</thead>
	<tbody>
  <% calificaciones.each_with_index do |p, i| %>
  	 <% name = 'materia[calificaciones_attributes]['.concat(i.to_s).concat(']') %>
	 <tr>
		  <td><%= p.alumno.full_name %></td>
			<%= text_field name, :alumno_id, value: p.alumno.id, style: 'display: none;' %>
			<%= text_field name, :materia_id, value: materia.id, style: 'display: none;' %>
			<%= text_field name, :etapa, value: etapa, style: 'display: none;', class: 'etapa_change' %>
			<%= text_field name, :total_puntos, value: puntaje_total, style: 'display: none;' %>
			<%= text_field name, :puntos_correctos, value: p.puntos_correctos, style: 'display: none;' %>
			<td><%= p.puntos_correctos %></td>
			<% if p.calificacion != nil %>
			  <td><%= text_field name, :calificacion, value: p.calificacion, :maxlength => 1, onblur: "validar(this)", class: 'input-small' %></td>
			<% else %>
			  <td><%= text_field name, :calificacion, :maxlength => 1, onchange: "validar(this)",class: 'input-small calificacion' %></td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>