<div class="container">
  <legend>Cargar Calificaciones de <%= @materia.materia %> </legend>
  <%= form_for(@materia) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="campos" class="row">
  	<div class="span4">
	  	<p><b>Curso:</b> <%= link_to @materia.curso_curso, @materia.curso %><br/>
	  	<b>Area:<b> <%= @materia.area %><br/>
	  	<b>Docente:</b> <%= link_to @materia.docente.full_name, @materia.docente %></p>
	  </div>
	  <div class="span4 offset1">
	    <b>Etapa: <%= select_tag 'select_etapa',  "<option>Primera</option><option>Segunda</option><option>Tercera</option>".html_safe, {class: 'input-medium'} %><br/>
	    Puntos Acumulados: <small id="total"><%= @puntaje_total %></small><br/>
	  </div>
	  <div id="vinculos">
	  <a href="#" class="offset8" onclick="edicion_planificacion();"><i class="icon-edit"></i>Editar estos campos</a></b>
	</div>
  </div>
  <div id="campos_edicion" class="row" style=" display:none;">
    <div class="span4">
	  <%= f.label :materia %>
      <%= f.text_field :materia, :maxlength => 30 %>
      <%= f.label :area %>
      <%= f.select( :area, ['Lenguas y sus Tecnolog.', 'Matemática y sus Tecnolog.', 'Ciencias Naturales', 'Ciencias Sociales', 'Artes y sus Tecnolog.', 'Plan Especifico', 'Plan Optativo'])%>
              
	</div>
	<div class="span4">
	  <%= f.label :curso_id %>
      <%= f.collection_select :curso_id ,@cursos,:id,:curso %>
      <%= f.label :docente_id %>
      <%= f.select :docente_id,  @docentes.map {|d| [d.full_name  ,d.id] }  %>
      <div id="vinculos">
	  	<a href="#" onclick="edicion_planificacion2();"><i class="icon-arrow-left"></i>Volver</a>
	  </div>
	  <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
	</div>
  </div>
  <hr/>
  <div class="row">
  	<label class="Cargar Calificaciones"></label>
	    <div id="campos_calif">
	  	  <%= render 'campos_calificaciones', calificaciones: @calificaciones, materia: @materia, puntaje_total: @puntaje_total, etapa: @etapa %>
	    </div>    
	  <div align="center">
	    <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
	    <%= link_to "Cancelar", calificaciones_path, class: "btn btn-large btn-primary", id: "colorBoton"%>
	  </div>
	</div>
<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('#select_etapa').on('change', function(){
	    var _etapa = $("#select_etapa").val();
	    $.ajax({
	    url: '<%= change_data_materia_path %>',
	    data: { "select_etapa": _etapa },
	    async: true,
	    dataType: 'script'
	    });
	    return false;
	  });
	});

</script>