<div class="container">
  <div class="row">
    <h1 class="h1">Lista de Materias</h1>
    <div class="row" align="right">
      Search:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Materia</th>
            <th>Area</th>
            <th>Curso</th>
            <th>Docente</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @materias.each do |materia| %>
            <tr>
              <td><%= link_to materia.materia, materia %></td>
              <td><%= materia.area %></td>
              <td><%= materia.curso.curso %></td>
              <td><%= materia.docente.user.nombre + ' ' + materia.docente.user.apellido %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_materia_path(materia) %>
                <%= link_to 'Eliminar', materia, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @materias %>
    </div>
  </div>
</div>
