<div class="container">
  <div class="row">
    <legend>Lista de Materias del <%= Date.today.year %></legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Materia</th>
            <th>Area</th>
            <th>Curso</th>
            <th>Docente</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @materias.each do |materia| %>
            <tr>
              <td><%= link_to materia.materia, materia %></td>
              <td><%= materia.area %></td>
              <td><%= materia.curso_curso %></td>
              <td><%= materia.docente.user_nombre + ' ' + materia.docente.user_apellido %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_materia_path(materia) %>
                <%= link_to 'Eliminar', materia, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', materias_path(format: 'pdf') %>
          <i class="icon-plus-sign"></i><%= link_to 'Registrar Materia', new_materia_path %>
          <i class="icon-list"></i><%= link_to 'Ver Materias de años anteriores', index_total_materias_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
