<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Materias del <%= Date.today.year %></legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th id="centrar">Cant</th>
            <th id="centrar">Materia</th>
            <th id="centrar">Area</th>
            <th id="centrar">Curso</th>
            <th id="centrar">Docente</th>
            <% if current_user.is_administrativo %>
              <th id="centrar">Acciones</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @materias.each_with_index do |materia, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= i+1 %></td>
              <td class="selection <%= id %>"><%= link_to materia.materia, materia %></td>
              <td class="selection <%= id %>"><%= materia.area %></td>
              <td class="selection <%= id %>"><%= materia.curso_curso %></td>
              <td class="selection <%= id %>"><%= materia.docente.full_name %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_materia_path(materia) %>
                <%= link_to 'Eliminar', materia, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @materias.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', materias_path(format: 'pdf') %>
          <i class="icon-plus-sign"></i><%= link_to 'Registrar Materia', new_materia_path %>
          <i class="icon-list"></i><%= link_to 'Ver Todas las Materias', index_total_materias_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @materias.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });

</script>