<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<% provide(:title, @materia.materia) %>
<p id="notice"><%= notice %></p>
<p id="error" class="error"><%= flash[:error] %></p>
<div id="example" class="modal hide fade in" style="display: none; ">  
  <%= render 'materiales/form', materia: @materia %>
</div> 
<div class="row">
  <div class="span2">
    <aside>
      <section>
        <legend>
          <h5><%= @materia.materia.capitalize %></h5>
          <p class="li" id="vinculos"><i class="icon-edit"></i><%= link_to "Editar", edit_campos_materia_path(@materia) %></p>
        </legend>
      </section>
      <section>
        <p><b>
          <% if current_user.is_administrativo || current_user.is_docente %>
            <%= link_to @materia.docente.full_name, @materia.docente %>
          <% else %>
            <%= @materia.docente.full_name %>
          <% end %>
        </b>
        </p>
        <br/>
        <% if current_user.is_administrativo || current_user.is_docente %>
          <p>Curso: <%= link_to @materia.curso_curso, @materia.curso %></p>
          <br/>
          <ul class="nav nav-tabs nav-stacked">
            <li class='li'><a data-toggle="modal" href="#example">Subir Material de estudio</a></li>
            <li class='li'><%= link_to "Cargar Calificaciones", edit_materia_path(@materia) %></li>
            <li class='li'><%= link_to "Ver Calificaciones", materias_calificaciones_materia_path %></li>
            <li class='li'><a href="#tarea" onclick="muestra_oculta('contenido_a_mostrar');">Nueva Tarea</a></li>
          </ul>
        <% end %>
      </section>
    </aside>
    <% if current_user.is_administrativo || current_user.is_docente %>
      </br><div id="contenido_a_mostrar" style="display: none; ">  
    	  <%= form_for @planificacion do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <label class="label"><%= @materia.materia %></label>
          <%= f.text_field :materia_id, value: @materia.id, class: "label", :name => 'materia_id', :style => 'display:none;' %>
          <%= f.label :tarea %>
          <%= f.text_field :tarea, class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <%= f.label :etapa %>
          <%= f.select :etapa, ['Primera', 'Segunda', 'Tercera'], class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <%= f.label :fecha_entrega %>
          <%= f.text_field :fecha_entrega, class: 'search-query', :id=> "fecha", :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;', id:"fechaTarea" %>
          <%= f.label :total_puntos %>
          <%= f.text_field :total_puntos, class: 'input-medium', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;', onblur: "validarCIN(this)", :maxlength =>  2 %>
          <%= f.label :descripcion %>
          <%= f.text_area :descripcion, rows: 3, :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <%= f.submit "Guardar", class: "btn btn-large btn-primary", :name => 'test_button' %>
        <% end %>
        <a name="tarea"> </a>
      </div>
    <% end %> 
  </div>
  <div class="span6">
    <label class="label">Lista de Tareas de <%= @materia.materia %> del <%= @materia.curso_curso %> </label>
    <div align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Tarea</th>
          <th>Etapa</th>
          <th>Entrega</th>
          <th>Puntos</th>
          <th>Descripcion</th>
          <% if current_user.is_administrativo || current_user.is_docente %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @materia.planificaciones.order("created_at desc").each do |tarea| %>
          <tr>
            <% if current_user.is_administrativo || current_user.is_docente %>
              <td><%= link_to tarea.tarea, tarea %></td>
            <% else %>
              <td><%= tarea.tarea %></td>
            <% end %>
            <td><%= tarea.etapa %> </td>
            <td><%= tarea.fecha_entrega.to_s[5..10] %></td>
            <td><%= tarea.total_puntos %></td>
            <td><%= tarea.descripcion %></td>
            <% if current_user.is_administrativo || current_user.is_docente %>
              <td><%= link_to 'Editar', edit_planificacion_path(tarea), remote: true %>
                <%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div align="right" id="vinculos">
      <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', materia_path(@materia, format: 'pdf') %>
    </div>
  </div>
  <div class="span3">
    <label class="label">Materiales</label>
    <div id="materiales">
      <%= render 'materiales', materia: @materia %>
    </div>
  <div id="vinculos">
    <i class="icon-list"></i><%= link_to 'Ver todos los materiales', materiales_path %>
  </div>
  <div>
</div>
<script type="text/javascript">
    function cerrar(){
               $("#error").hide();

       }

       function refresh()
        {
                location.reload(true);
        }
</script>