<% provide(:title, @materia.materia) %>
<p id="notice"><%= notice %></p>
<p class="error"><%= flash[:error] %></p>
<div class="container">
<div class="row">
  <div class="span3">
    <aside>
      <section>
        <h1>
          <%= @materia.materia.capitalize %>
        </h1>
      </section>
      <section>
        <p><b>
          <%= link_to @materia.docente.user_nombre.capitalize + ' ' + @materia.docente.user_apellido.capitalize, @materia.docente %></b><br/>
          <% if current_user.is_administrativo %>
            <%= link_to 'Editar', edit_materia_path(@materia), :style => 'font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <% end %>
        </p>
        
        <br/>
        <p>Area: <%= @materia.area %></p>
        <p>Curso: <%= link_to @materia.curso_curso, @materia.curso %></p>
        <br/>
      </section>
    </aside>
    <a href="#" onclick="muestra_oculta('contenido_a_mostrar');">Nueva Tarea</a></br>
    </br><div id="contenido_a_mostrar" style="display: none; ">  
  	  <%= form_for @planificacion do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <label class="label">Materia: <%= @materia.materia %></label>
        <%= f.text_field :materia_id, value: @materia.id, class: "label", :name => 'materia_id', :style => 'display:none;' %>
        <%= f.label :tarea %>
        <%= f.text_field :tarea, class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
        <%= f.label :etapa %>
        <%= f.select :etapa, ['Primera', 'Segunda', 'Tercera'], class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
        <%= f.label :fecha_entrega %>
        <%= f.text_field :fecha_entrega, class: 'search-query', :id=> "fecha", :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
        <%= f.label :total_puntos %>
        <%= f.text_field :total_puntos, class: 'input-medium', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion, rows: 3, :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;' %>
        <%= f.submit "Guardar", class: "btn btn-large btn-inverse", :name => 'test_button' %>
      <% end %>
    </div> 
  </div>
  <div class="span8">
    <label class="label">Lista de Tareas de <%= @materia.materia %> del <%= @materia.curso_curso %> </label>
    <div align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Tarea</th>
          <th>Etapa</th>
          <th>Fecha de Entrega</th>
          <th>Total de Puntos</th>
          <th>Descripcion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @materia.planificaciones.order("created_at desc").each do |tarea| %>
          <tr>
            <td><%= link_to tarea.tarea, tarea %></td>
            <td><%= tarea.etapa %> </td>
            <td><%= tarea.fecha_entrega %></td>
            <td><%= tarea.total_puntos %></td>
            <td><%= tarea.descripcion %></td>
            <td><%= link_to 'Editar', edit_planificacion_path(tarea) %>
                <%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
