<div class="row">
  <div class="span6 offset3">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Materia:</b>
	  <%= @materia.materia %>
	</p>

	<p>
	  <b>Area:</b>
	  <%= @materia.area %>
	</p>

	<p>
	  <b>Curso:</b>
	  <%= link_to @materia.curso.curso, @materia.curso %>
	</p>

	<p>
	  <b>Docente:</b>
	  <%= link_to @materia.docente.user.nombre + ' ' + @materia.docente.user.apellido, @materia.docente %>
	 
	</p>

	<% if current_user.is_administrativo %>
	  <%= link_to 'Editar', edit_materia_path(@materia) %> |
	<% end %>
	<%= link_to 'Listar', materias_path %>
  </div>
</div>
