<%= form_for(@docente) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="container">
    <div class="row">
      <div id="registro">
        <fieldset>
          <legend>Datos del Docente</legend>
          <%= f.fields_for :user do |d| %>
            <div class="span3">
              <%= d.label :nombre %>
              <%= d.text_field :nombre, :maxlength => 50 %>

              <%= d.label :apellido %>
              <%= d.text_field :apellido, :maxlength => 50 %>

              <%= d.label :CINro, "Cedula de Identidad Número" %>
              <%= d.text_field :CINro, :maxlength => 9 %>

              <%= d.label :sexo %>
              <%= d.select(:sexo, ['Masculino', 'Femenino' ])%>
            </div>
            <div class="span3 offset1">
              <%= d.label :telefono, "Teléfono" %>
              <%= d.text_field :telefono, :maxlength => 12 %>

              <%= d.label :email, "Correo Electrónico" %>
              <%= d.text_field :email, :maxlength => 30 %>

              <%= d.label :fecha_nacimiento, "Fecha de Nacimiento" %> 
              <%= d.text_field :fecha_nacimiento, :id=> "fecha" %>

              <%= d.label :lugar_nacimiento, "Lugar de Nacimiento" %>
              <%= d.select( :lugar_nacimiento ,@cities_city) %>
            </div>
            <div class="span4 offset1">

              <%= f.label :matricula, "Matricula Número" %>
              <%= f.number_field :matricula, :maxlength => 20 %>

              <%= f.label :titulo, "Título Obtenido" %>
              <%= f.text_field :titulo, :maxlength => 50 %>

              <a data-toggle="modal" href="#example" class="direccion">Ingresar nueva direccion</a>
              <%= d.label :direccion, "Dirección" %>
              <div id="direccion">
                <%= render 'direccion' , addresses: @addresses %>
              </div>
            </div>
            
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div id="registro">
        <fieldset>
          <legend>Datos del Usuario Docente</legend>
            <div class="span3">
              <%= d.label :username, "Nombre de Usuario" %>
              <%= d.text_field :username, :maxlength => 30 %>
            </div>

            <div class="span3 offset1">
              <%= d.label :password, "Contraseña" %>
              <%= d.password_field :password, :maxlength => 20 %>
            </div>

            <div class="span3 offset1">
              <%= d.label :password_confirmation, "Confirmación" %>
              <%= d.password_field :password_confirmation, :maxlength => 20 %>
            </div>
        </fieldset>
      </div>
    </div>
    <% end %>
    
    </br>
    <div class="row" align="center">
        <%= f.submit "Guardar", class: "btn btn-large btn-inverse" %>
    </div>
  </div>
<% end %>
  
