<div class="row">
  <div class="span11 offset2">
    <h1>Lista de Docentes</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Matricula numero</th>
        <th>Titulo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @docentes.each do |docente| %>
      <tr>
        <td><%= docente.user.nombre %></td>
        <td><%= docente.user.apellido %></td>
        <td><%= docente.user.telefono %></td>
        <td><%= docente.matricula %></td>
        <td><%= docente.titulo %></td>
        <td><%= link_to 'Mostrar', docente %></td>
        <td><%= link_to 'Editar', edit_docente_path(docente) %></td>
        <td><%= link_to 'Eliminar', docente, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @docentes %>
  </div>
</div>
<%= link_to 'Registrar nuevo Docente', new_docente_path %>
