<div class="container">
  <div class="row">
    <legend>Lista de Docentes</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Matricula numero</th>
            <th>Titulo</th>
            <th>Año de Registro</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @docentes.each do |docente| %>
            <tr>
              <td><%= link_to docente.user_nombre, docente %></td>
              <td><%= docente.user_apellido %></td>
              <td><%= docente.user_telefono %></td>
              <td><%= docente.matricula %></td>
              <td><%= docente.titulo %></td>
              <td><%= docente.created_at.to_s.slice(0,10); %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_docente_path(docente) %>
                <%= link_to 'Eliminar', docente, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-arrow-left"></i><%= link_to 'Volver', docentes_path %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', index_total_docentes_path(:format => 'pdf') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

