<% provide(:title, @docente.user_nombre) %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="cabezera">
    <aside>
      <section>
        <h1>
          Datos del Docente
        </h1>
      </section>
      <section>
        <h1>
          <%= @docente.user_nombre %>
        </h1>
        <% if current_user.is_administrativo %>
          <%= link_to 'Editar', edit_docente_path(@docente) %>
        <% end %>
        <br/>
        <br/>
        <label class="label">Materias</label>
        <ul id="ul" class="nav nav-tabs nav-stacked ul">
          <% @docente.materias.each do |materia| %>
            <li class="li"><%= link_to materia.materia, materia%> </li>
          <% end %>
        </ul>
      </section>
    </aside>
  </div>
  <div class="datos">
    <p>Apellido: <%= @docente.user_apellido %></p>
    <p>Sexo: <%= @docente.user_sexo %></p>
    <p>Telefono: <%= @docente.user_telefono %></p>
    <p>Fecha de Nacimiento: <%= @docente.user_fecha_nacimiento %></p>
    <p>Lugar de Nacimiento: <%= @docente.user_lugar_nacimiento %></p>
    <p>Direccion: <%= link_to @docente.user.address.direccion, @docente.user.address %></p>
    <p>Edad: <%= @docente.user_edad %></p>
    <p>Matricula: <%= @docente.matricula %></p>
    <p>Titulo: <%= @docente.titulo %></p>
  </div>
</div>
</div>