<% provide(:title, @docente.user_nombre) %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="span3">
    <aside>
      <section>
        <h1>
          Datos del Docente
        </h1>
      </section>
      <section>
        <h1>
          <%= @docente.user_nombre %>
        </h1>
      </section>
      <hr/>
        <div id="vinculos">
          <% if current_user.is_administrativo %>
            <i class="icon-edit"></i><%= link_to 'Editar', edit_docente_path(@docente) %>
          </br>
            <i class="icon-arrow-left"></i><%= link_to 'Volver ', docentes_path %>
          <% end %>
        </div>
        <hr/>
        <% materias = @docente.materias %>
        <label class="label">Materias</label>
        <ul id="ul" class="nav nav-tabs nav-stacked ul">
          <% materias.each do |materia| %>
            <li class="li"><%= link_to materia.materia, materia%> </li>
          <% end %>
        </ul>
    </aside>
  </div>
  <div class="span4">
    <p><b>Apellido:</b> <%= @docente.user_apellido %></p>
    <p><b>Sexo:</b> <%= @docente.user_sexo %></p>
    <p><b>Telefono:</b> <%= @docente.user_telefono %></p>
    <p><b>Fecha de Nacimiento:</b> <%= @docente.user_fecha_nacimiento %></p>
    <p><b>Lugar de Nacimiento:</b> <%= @docente.user_lugar_nacimiento %></p>
    <p><b>Direccion:</b> <%= link_to @docente.user.address.direccion, @docente.user.address %></p>
    <p><b>Edad:</b> <%= @docente.user_edad %></p>
    <p><b>Matricula:</b> <%= @docente.matricula %></p>
    <p><b>Titulo:</b> <%= @docente.titulo %></p>
  </div>
  <div class="span4">
      <label class="label"> Próximas Actividades </label>
      <ul class="nav nav-tabs nav-stacked">
        <% materias.each do |materia| %>
          <% materia.planificaciones.where(:fecha_entrega => Date.today..(Date.today + 7)).each do |tarea| %>
            <li><b>Tarea:</b> <%= tarea.tarea %>
              <br/>&nbsp;&nbsp;<b>Materia:</b> <%= materia.materia %>
              <br/>&nbsp;&nbsp;<b>Fecha de Entrega:</b> <%= time_ago_in_words(tarea.fecha_entrega) %></li> 
              <br/>&nbsp;&nbsp;<b>Fecha de Entrega:</b> <%= tarea.fecha_entrega %></li>
            <hr/>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>
</div>