<% provide(:title, @docente.user.nombre) %>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="span6 offset3">
  <div class="cabezera">
    <aside>
      <section>
        <h1>
          Datos del Docente
        </h1>
      </section>
      <section>
        <h1>
          <%= @docente.user.nombre %>
        </h1>
      </section>
    </aside>
  </div>
  <div class="datos">
    <p>Apellido: <%= @docente.user.apellido %></p>
    <p>Sexo: <%= @docente.user.sexo %></p>
    <p>Telefono: <%= @docente.user.telefono %></p>
    <p>Fecha de Nacimiento: <%= @docente.user.fecha_nacimiento %></p>
    <p>Lugar de Nacimiento: <%= @docente.user.lugar_nacimiento %></p>
    <p>Direccion: <%= link_to @docente.user.address.direccion, @docente.user.address %></p>
    <p>Edad: <%= @docente.user.edad %></p>
    <p>Matricula: <%= @docente.matricula %></p>
    <p>Titulo: <%= @docente.titulo %></p>
  </div>
</div>
</div>

<% if current_user.is_administrativo %>
  <%= link_to 'Editar', edit_docente_path(@docente) %> |
<% end %>
<%= link_to 'Listar', docentes_path %>