<%= form_for(@city) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="container">
  	<div class="row">
  	<div id="registro">
        <fieldset>
    <div class="span3 offset4">
  			<%= f.label :ciudad %>
  			<%= f.text_field :city, :maxlength => 50, class: "span4" %><br/>
  			<%= f.label :pais %>
  			<%= f.collection_select :country_id ,@countries,:id,:pais %><br/>
  			<%= submit_tag "Guardar", class: "btn btn-large btn-primary" %>
        <%= link_to "Cancelar", :back, class: "btn btn-large btn-inverse" %>
			<% end %>
		</div>
		</fieldset>
	</div>
	</div>
</div>
