<div class="container">
  <div class="row">
    <h1>Lista de Ciudades</h1>
    <div class="row" align="right">
      Search:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Ciudad</th>
            <th>Pais</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <td><%= city.city %></td>
              <td><%= city.country.pais %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_city_path(city) %> |
                <%= link_to 'Eliminar', city, :action => 'destroy', method: :delete , data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @cities %>
      <% if current_user.is_administrativo %>
        <%= link_to 'Registrar nuevo', new_city_path %>
      <% end %>
    </div>
  </div>
</div>



