<div class="row">
  <div class="span9 offset3">
  <h1>Lista de Ciudades</h1>
  <table class="table table-bordered">
    <tr class="table-title">
      <th>Ciudad</th>
      <th>Pais</th>
      <% if current_user.is_administrativo %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

  <% @cities.each do |city| %>
    <tr>
      <td><%= city.city %></td>
      <td><%= city.country.pais %></td>
      <% if current_user.is_administrativo %>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Eliminar', city, :action => 'destroy', method: :delete , data: { confirm: 'Estas seguro?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @cities %>
  </div>
</div>

<% if current_user.is_administrativo %>
  <%= link_to 'Registrar nuevo', new_city_path %>
<% end %>

