<p id="notice"><%= notice %></p>

<p>
  <b>Ciudad:</b>
  <%= @city.city %>
</p>

<p>
  <b>Pais:</b>
  <%= @city.country_pais %>
</p>

<% if current_user.is_administrativo %>
  <%= link_to 'Editar', edit_city_path(@city) %> |
<% end %>
<%= link_to 'Listar', cities_path %>
