<p id="notice"><%= notice %></p>

<p>
  <b>Ciudad:</b>
  <%= @city.city %>
</p>

<p>
  <b>Pais:</b>
  <%= @city.country.pais %>
</p>


<%= link_to 'Editar', edit_city_path(@city) %> |
<%= link_to 'Atras', cities_path %>
