<%= form_for(@calificacion) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="span2">
      <%= f.label 'Año' %><br />
      <%= select "x", 'ano', @anos, {},{class: 'input-medium', disabled: false} %>
      <div id="anos" style="display: none;">
        <%= render 'select_anos', cursos: @cursos %>
      </div>
    </div>
    <div id="cursos" style="display: none;" class="span3 offset1">
      <%= render 'select_cursos', materias: @materias %>
    </div>
    <div id="alumnos" style="display: none;" class="span3 offset1">
      <%= render 'select_alumnos', alumnos: @alumnos %>
    </div>
    <div id="oculto" style="display: none;" class="span2 offset1">
      <%= f.label :calificacion %>
      <%= f.select(:calificacion, ['1', '2', '3', '4', '5' ],{},{class: "span2"}) %>
      <%= f.label :total_puntos %>
      <%= f.text_field :total_puntos, :maxlength => 3, onblur: "validarCIN(this)" %>
      <%= f.label :puntos_correctos %>
      <%= f.text_field :puntos_correctos, :maxlength => 3, onblur: "validarCIN(this)" %>
    </div>
  </div>
  <div id="boton" align="center" style="display: none;" class="row">
    <%= f.submit "Guardar",class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var path = '<%= change_data_calificaciones_path %>';
    change_data_calificaciones(path);
  });
</script>