<div class="container">
  <div class="row">
    <legend>Lista de Calificaciones</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>    
            <th>Alumno</th>
            <th>Materia</th>
            <th>Calificacion</th>
            <th>Total puntos</th>
            <th>Puntos correctos</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>

          <% @calificaciones.each_with_index do |calificacion, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= calificacion.alumno.full_name %></td>
              <td class="selection <%= id %>"><%= calificacion.materia.materia %></td>
              <td class="selection <%= id %>"><%= calificacion.calificacion %></td>
              <td class="selection <%= id %>"><%= calificacion.total_puntos %></td>
              <td class="selection <%= id %>"><%= calificacion.puntos_correctos %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_calificacion_path(calificacion) %><%= link_to 'Eliminar', calificacion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <% if @calificaciones.size > 9 %>
          <div id="selector"></div>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @calificaciones.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>

