<p id="notice"><%= notice %></p>

<p>
  <b>Alumno:</b>
  <%= @calificacion.alumno_id %>
</p>

<p>
  <b>Materia:</b>
  <%= @calificacion.materia_id %>
</p>

<p>
  <b>Calificacion:</b>
  <%= @calificacion.calificacion %>
</p>

<p>
  <b>Total puntos:</b>
  <%= @calificacion.total_puntos %>
</p>

<p>
  <b>Puntos correctos:</b>
  <%= @calificacion.puntos_correctos %>
</p>

<div class="link">
  <%= link_to 'Listar Calificaciones ->', calificaciones_path %>
</div>
