<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% if current_user.is_administrativo %>
        <%= f.label :nombre %>
        <%= f.text_field :nombre, :maxlength => 30 %>

        <%= f.label :apellido %>
        <%= f.text_field :apellido, :maxlength => 30 %>

        <%= f.label :CINro, "Cedula de Identidad Numero" %>
        <%= f.text_field :CINro, :maxlength => 12 %>

        <%= f.label :sexo %>
        <%= f.select(:sexo, ['M', 'F' ])%>

        <%= f.label :telefono %>
        <%= f.text_field :telefono, :maxlength => 12 %>

        <%= f.label :fecha_nacimiento %> 
        <%= f.text_field :fecha_nacimiento, :id=> "fecha" %>

        <%= f.label :lugar_nacimiento %>
        <%= f.select( :lugar_nacimiento ,@cities_city) %>

        <%= link_to "Ingresar Nueva Direccion", :popup => ['example', 'direccion'] %>
        <a data-toggle="modal" href="#example" class="direccion">Ingresar nueva direccion</a>
        <%= f.label :direccion %>
        <%= f.collection_select :address_id ,@addresses,:id,:direccion %>
      <% end %>

      <%= f.label :username, "Nombre de Usuario" %>
      <%= f.text_field :username, :maxlength => 30 %>

      <%= f.label :email, "Correo Electrónico" %>
      <%= f.text_field :email, :maxlength => 30 %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, :maxlength => 30 %>

      <%= f.label :password_confirmation, "Confirmación de Contraseña" %>
      <%= f.password_field :password_confirmation, :maxlength => 30 %>

      <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
 
<div id="example" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Registrar Direccion</h3>  
  </div>  
  <div class="modal-body">  
    <p id="notice"><%= notice %></p>
    <%= form_for @direccion do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :direccion %><br />
      <%= f.text_field :direccion %>
      <%= f.label :barrio %><br />
      <%= f.text_field :barrio %>
      <%= f.label :city %>
      <%= f.collection_select :city_id ,@cities,:id,:city %>
  </div>  
  <div class="modal-footer"> 
    <%= f.button :class => 'btn btn-success', :onclick => 'alert("Please no!")' %>
    <input type="button" class="btn btn-success" onclick = "guardar_address("<% @user %>", "<% @direccion %>");"/> 
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
      <% end %>
</div> 