<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre %>

      <%= f.label :apellido %>
      <%= f.text_field :apellido %>

      <%= f.label :sexo %>
      <%= f.select(:sexo, ['M', 'F' ])%>

      <%= f.label :telefono %>
      <%= f.text_field :telefono %>

      <%= f.label :fecha_nacimiento %> 
      <%= f.text_field :fecha_nacimiento, :id=> "fecha" %>

      <%= f.label :lugar_nacimiento %>
      <%= f.select( :lugar_nacimiento ,@cities_city) %>


      <a href="#" class="direccion" onclick="apprise('Verify your name', {'input':'Direccion', 'input':'Barrio' , 'textOk':'Correct'});">Ingresar nueva direccion</a>
      <%= f.label :direccion %>
      <%= f.collection_select :address_id ,@addresses,:id,:direccion %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>