<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Usuarios</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th class="span5">Fecha y lugar de Nacimiento</th>
          <th class="span3">Direccion</th>
          <th>Username</th>
          <th>Email</th>
          <% if current_user.is_administrativo %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @users.each_with_index do |user, i| %>
      <% id = "page-" + i.to_s %>
        <tr>
          <td class="selection <%= id %>"><%= link_to user.nombre, user %></td>
          <td class="selection <%= id %>"><%= user.apellido %></td>
          <td class="selection <%= id %>"><%= user.telefono %></td>
          <td class="selection <%= id %>"><%= user.fecha_nacimiento %>|<%= user.lugar_nacimiento %></td>
          <td class="selection <%= id %>"><%= user.address.direccion %></td>
          <td class="selection <%= id %>"><%= user.username %></td>
          <td class="selection <%= id %>"><%= user.email %></td>
          <% if current_user.is_administrativo %>
            <td class="selection <%= id %>"><%= link_to 'Editar', edit_user_path(user) %>
            <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?'},remote: true %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      </table>
      <% if @users.size > 9 %>
        <div id="selector"></div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @users.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });

</script>