<div class="container">
  <div class="row">
    <h1 class="h1">Lista de Usuarios</h1>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
      <thead class="table-title">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Sexo</th>
          <th>Telefono</th>
          <th class="span5">Fecha y lugar de Nacimiento</th>
          <th class="span3">Direccion</th>
          <th>Username</th>
          <th>Email</th>
          <% if current_user.is_administrativo %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.nombre, user %></td>
          <td><%= user.apellido %></td>
          <td><%= user.sexo %></td>
          <td><%= user.telefono %></td>
          <td><%= user.fecha_nacimiento %>|<%= user.lugar_nacimiento %></td>
          <td><%= user.address.direccion %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <% if current_user.is_administrativo %>
            <td><%= link_to 'Editar', edit_user_path(user) %>
            <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?'} %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      </table>
      <%= will_paginate @users %>
      <% if current_user.is_administrativo %>
        <%= link_to 'Registrar nuevo', new_user_path %>
      <% end %>
    </div>
  </div>
</div>
