<div class="row">
  <div class="span11 offset2">
  <h1>Lista de Usuarios</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Sexo</th>
        <th>Telefono</th>
        <th>Fecha de Nacimiento</th>
        <th>Lugar de Nacimiento</th>
        <th>Direccion</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.apellido %></td>
        <td><%= user.sexo %></td>
        <td><%= user.telefono %></td>
        <td><%= user.fecha_nacimiento %></td>
        <td><%= user.lugar_nacimiento %></td>
        <td><%= user.address.direccion %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?'} %></td>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @users %>
  </div>
</div>

<%= link_to 'Registrar nuevo', new_user_path %>