<% provide(:title, @user.nombre) %>
<div class="row">
<div class="span6">
  <div class="cabezera">
    <aside>
      <section>
        <h1>
          Datos del Usuario
        </h1>
      </section>
      <section>
        <h1>
          <%= @user.nombre %>
        </h1>
        <% if current_user.is_administrativo %>
          <%= link_to 'Editar', edit_user_path(@user) %>
        <% end %>
      </section>
    </aside>
  </div>
  <div class="datos">
    <p>Apellido: <%= @user.apellido %></p>
    <p>Sexo: <%= @user.sexo %></p>
    <p>Telefono: <%= @user.telefono %></p>
    <p>Fecha de Nacimiento: <%= @user.fecha_nacimiento %></p>
    <p>Lugar de Nacimiento: <%= @user.lugar_nacimiento %></p>
    <p>Direccion: <%= @user.address.direccion %></p>
    <p>Ciudad: <%= @user.address.city.city %></p>
    <p>Edad: <%= @user.edad %></p>
  </div>
</div>
</div>