<%= form_for(address, :validate => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="container">
  <div class="row">
  	<div id="registro">
      <fieldset>
		  	<div class="span3 offset4">
   			   <p id="notice"><%= notice %></p>
     			 <p class="error"><%= flash[:error] %></p>
    			 <%= f.label :direccion, "Dirección" %>
    			 <%= f.text_field :direccion, :maxlength => 50, class: "span4" %>
    			 <%= f.label :barrio %>
   			   <%= f.text_field :barrio, :maxlength => 30 %>
    			 <%= f.label :ciudad %>
    			 <%= f.collection_select :city_id ,@cities,:id,:city %>
           <div class="row" align="center">
              <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
              <%= link_to "Cancelar", :back, class: "btn btn-large btn-inverse" %>
           </div>
        </div>
	<% end %>
		  </fieldset>
	  </div>
	</div>
</div>


