<p id="notice"><%= notice %></p>
<%= form_for(@address) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :direccion %><br />
  <%= f.text_field :direccion %>
  <%= f.label :barrio %><br />
  <%= f.text_field :barrio %>
  <%= f.label :city %>
  <%= f.collection_select :city_id ,@cities,:id,:city %><br/>
  <%= f.submit %>
<% end %>
