<%= form_for(@address) do |f| %>
  <p id="notice"><%= notice %></p>
   <p class="error"><%= flash[:error] %></p>
  <%= f.label :direccion %>
  <%= f.text_field :direccion, :maxlength => 50 %>
  <%= f.label :barrio %>
  <%= f.text_field :barrio, :maxlength => 30 %>
  <%= f.label :ciudad %>
  <%= f.collection_select :city_id ,@cities,:id,:city %>
  <%= f.submit "Guardar", class: "btn btn-large btn-inverse" %>
<% end %>
