<div class="row">
  <div class="span9 offset3">
  <h1>Lista de Direcciones</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Direccion</th>
        <th>Barrio</th>
        <th>Ciudad</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.direccion %></td>
        <td><%= address.barrio %></td>
        <td><%= address.city.city %></td>
        <td><%= link_to 'Mostrar', address %></td>
        <td><%= link_to 'Editar', edit_address_path(address) %></td>
        <td><%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<%= link_to 'Registrar nuevo', new_address_path %>
