<div class="container">
  <div class="row">
    <h1 class="h1">Lista de Direcciones</h1>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Direccion</th>
            <th>Barrio</th>
            <th>Ciudad</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= link_to address.direccion, address %></td>
              <td><%= address.barrio %></td>
              <td><%= address.city_city %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_address_path(address) %>
                <%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @addresses %>
      <% if current_user.is_administrativo %>
        <%= link_to 'Registrar nuevo', new_address_path %>
      <% end %>
    </div>
  </div>
</div>

