<p id="notice"><%= notice %></p>

<p>
  <b>Direccion:</b>
  <%= @address.direccion %>
</p>

<p>
  <b>Barrio:</b>
  <%= @address.barrio %>
</p>

<p>
  <b>City:</b>
  <%= link_to @address.city.city, @address.city %>
</p>

<% if current_user.is_administrativo %>
<%= link_to 'Editar', edit_address_path(@address) %> |
<% end %>
<%= link_to 'Listar', addresses_path %>
