<%= form_for(@planificacion, :validate => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <label class="label">Materia: <%= @planificacion.materia_materia %></label>
  <%= f.label :tarea %>
  <%= f.text_field :tarea, class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;',:onkeypress => "return validarText(event,this)" %>
  <%= f.label :etapa %>
  <%= f.text_field :etapa, class: 'search-query', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;',:onkeypress => "return validarText(event,this)" %>
  <%= f.label :fecha_entrega %>
  <%= f.text_field :fecha_entrega, class: 'search-query', :id=> "fecha", :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;', id:"fechaTarea" %>
  <%= f.label :total_puntos %>
  <%= f.text_field :total_puntos, class: 'input-medium', :style => 'padding: 5px; font:normal 9px verdana, arial, helvetica, sans-serif;', :id => "num_identify", :maxlength =>  2 %>
  <%= f.label :descripcion %>
  <%= f.text_area :descripcion, rows: 3, :onkeypress => "return validarText(event,this)" %>
  <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
      //Comprueba que se teclee solo numeros
    $("#num_identify").keypress(function (e)
    {
      //if the letter is not digit then display error and don't type anything
      if( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57))
      {
        return false;
      }
    });
  });
</script>