<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1 class="h1">Lista de Tareas</h1>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Materia</th>
            <th>Tarea</th>
            <th>Descripcion</th>
            <th>Etapa</th>
            <th>Curso</th>
            <th>Fecha entrega</th>
            <th>Total puntos</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @planificaciones.each do |planificacion| %>
            <tr>
              <td><%= planificacion.materia_materia %></td>
              <td><%= planificacion.tarea %></td>
              <td><%= planificacion.descripcion %></td>
              <td><%= planificacion.etapa %></td>
              <td><%= planificacion.materia.curso_curso %></td>
              <td><%= planificacion.fecha_entrega %></td>
              <td><%= planificacion.total_puntos %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_planificacion_path(planificacion) %>
                <%= link_to 'Eliminar', planificacion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @planificacion %>
    </div>
  </div>
</div>
