<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <legend>Lista de Tareas</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th id="centrar">Cant</th>
            <th id="centrar">Materia</th>
            <th id="centrar">Tarea</th>
            <th id="centrar">Descripcion</th>
            <th id="centrar">Etapa</th>
            <th id="centrar">Curso</th>
            <th id="centrar">Fecha entrega</th>
            <th id="centrar">Total puntos</th>
            <% if current_user.is_administrativo %>
              <th id="centrar">Acciones</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @planificaciones.each_with_index do |planificacion, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= i+1 %></td>
              <td class="selection <%= id %>"><%= planificacion.materia_materia %></td>
              <td class="selection <%= id %>"><%= link_to planificacion.tarea, planificacion %></td>
              <td class="selection <%= id %>"><%= planificacion.descripcion %></td>
              <td class="selection <%= id %>"><%= planificacion.etapa %></td>
              <td class="selection <%= id %>"><%= planificacion.materia.curso_curso %></td>
              <td class="selection <%= id %>"><%= planificacion.fecha_entrega %></td>
              <td class="selection <%= id %>"><%= planificacion.total_puntos %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_planificacion_path(planificacion) %>
                <%= link_to 'Eliminar', planificacion, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true  %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @planificaciones.size > 9 %>
        <div id="selector"></div>
      <% end %>
       <div align="center" id="vinculos">
          <i class="icon-arrow-left"></i><%= link_to 'Volver a la lista de materias', materias_path %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @planificaciones.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>