<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="span3">
      <aside>
      <section>
      </section>
      <section>
        <p><b>
          <h1><%= link_to @planificacion.materia_materia, @planificacion.materia %></h1></b><br/>
          <div id="vinculos">
          <% if current_user.is_administrativo %>
            <i class="icon-edit"></i><%= link_to 'Editar', edit_planificacion_path(@planificacion), :style => 'font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <% end %>
        </div>
        </p>
        
        <br/>
        <p><b>Curso: </b><%= link_to @planificacion.materia.curso_curso, @planificacion.materia.curso %></p>
        <p><b>Descripcion:</b> <%= @planificacion.descripcion %></p>
        <p><b>Etapa:</b> <%= @planificacion.etapa %></p>
        <p><b>Fecha de Entrega:</b> <%= @planificacion.fecha_entrega %></p>
        <p><b>Total de Puntos:</b> <%= @planificacion.total_puntos %></p>
        <br/>
      </section>
    </aside>
    </div>
    <div class="span8">
      <% if @planificacion.puntajes.count != 0 %>
        <legend>Lista de Alumnos - Tarea: <%= @planificacion.tarea.capitalize %></legend>
        <div class="row" align="right">
          Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
        </div>
        <table id="my-table" class="table table-bordered">
          <thead class="table-title">
            <tr>
              <th>Alumno</th>
              <th>Puntaje Alcanzado</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <% @planificacion.puntajes.each do |puntaje| %>
              <tr>
                <td><%= puntaje.alumno.full_name %></td>
                <td><%= puntaje.puntaje %></td>
                <td><%= puntaje.descripcion %></td>
              </tr>
            <% end %> 
          </tbody>
        </table>
      <% else %>
        <label class="label-info"> No ha cargado los puntajes aun! </label> </br>
        <%= link_to "Cargar Puntajes", edit_planificacion_path(@planificacion), class: "btn btn-large btn-primary", id:"colorBoton" %>
      <% end %>
    </div>
  </div>
</div>
