<p id="notice"><%= notice %></p>

<p>
  <b>Materia:</b>
  <%= link_to @planificacion.materia_materia, @planificacion.materia %>
</p>

<p>
  <b>Tarea:</b>
  <%= @planificacion.tarea %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @planificacion.descripcion %>
</p>

<p>
  <b>Etapa:</b>
  <%= @planificacion.etapa %>
</p>

<p>
  <b>Curso:</b>
  <%= @planificacion.materia.curso_curso %>
</p>

<p>
  <b>Fecha entrega:</b>
  <%= @planificacion.fecha_entrega %>
</p>

<p>
  <b>Total puntos:</b>
  <%= @planificacion.total_puntos %>
</p>
