<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="span3">
      <aside>
      <section>
        <h1>
          <%= @planificacion.tarea.capitalize %>
        </h1>
      </section>
      <section>
        <p><b>
          <%= link_to @planificacion.materia_materia, @planificacion.materia %></b><br/>
          <% if current_user.is_administrativo %>
            <%= link_to 'Editar', edit_planificacion_path(@planificacion), :style => 'font:normal 9px verdana, arial, helvetica, sans-serif;' %>
          <% end %>
        </p>
        
        <br/>
        <p>Curso: <%= link_to @planificacion.materia.curso_curso, @planificacion.materia.curso %></p>
        <p>Descripcion: <%= @planificacion.descripcion %></p>
        <p>Etapa: <%= @planificacion.etapa %></p>
        <p>Fecha de Entrega: <%= @planificacion.fecha_entrega %></p>
        <p>Total de Puntos: <%= @planificacion.total_puntos %></p>
        <br/>
      </section>
    </aside>
    </div>
    <div class="span8">
      <h1 class="h1">Lista de Alumnos</h1>
      <div class="row" align="right">
        Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
      </div>
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Alumno</th>
            <th>Puntaje Alcanzado</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <% @planificacion.materia.curso.alumnos.each do |alumno| %>
            <tr>
              <%= form_for(@puntaje) do |f| %>
                <td><%= alumno.full_name %></td>
                <td><%= f.text_field :alumno_id, value: alumno.id %></td>
                <td><%= f.text_field :planificacion_id, value: @planificacion.id %></td>
                <td><%= f.text_field :puntaje, :maxlength => 10, value: f.object.puntaje %></td>
                <td><%= f.text_field :descripcion, :maxlength => 100 %></td>
                <td><%= f.submit "Guardar", class: "btn btn-large btn-inverse" %></td>
              <% end %> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
