<div class="container">
  <div class="row">
    <div id="registro">
        <fieldset>
          <legend>Registrar Nuevo País</legend>
			<%= form_for(@country) do |f| %>
			<div class="span3">
  				<%= render 'shared/error_messages', object: f.object %>
  				<%= f.label :pais %>
 				<%= f.text_field :pais, :maxlength => 30 %>
  				<%= f.submit "Guardar", class: "btn btn-large btn-inverse" %>
				<% end %>
			</div>
		</fieldset>
	</div>
  </div>
</div>
