<div class="container">
  <div class="row">
    <h1 class="h1">Lista de Paises</h1>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span9">Pais</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <tr>
              <td><%= country.pais %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_country_path(country) %> |
                <%= link_to 'Eliminar', country, method: :delete, :onclick => "return confirm('Estas Seguro?')" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @countries %>
      <% if current_user.is_administrativo %>
        <%= link_to 'Registrar Nuevo', new_country_path %>
      <% end %>
    </div>
  </div>
</div>



