<div class="row">
  <div class="span9 offset3">
    <h1>Lista de Paises</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Pais</th>
        <% if current_user.is_administrativo %>
          <th></th>
          <th></th>
        <% end %>
      </tr>

    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.pais, country %></td>
        <% if current_user.is_administrativo %>
          <td><%= link_to 'Editar', edit_country_path(country) %></td>
          <td><%= link_to 'Eliminar', country, method: :delete, :onclick => "return confirm('Estas Seguro?')" %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @countries %>
  </div>
</div>

<% if current_user.is_administrativo %>
  <%= link_to 'Registrar Nuevo', new_country_path %>
<% end %>

