<div class="container">
  <div class="row">
    <legend>Lista de Paises</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span5">Pais</th>
            <th class="span3"></th>
            <% if current_user.is_administrativo %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <tr>
              <td><%= country.pais %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_country_path(country) %> |
                <%= link_to 'Eliminar', country, method: :delete, :onclick => "return confirm('Estas Seguro?')" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @countries %>
      <div class="link">
        <% if current_user.is_administrativo %>
          <%= link_to 'Registrar Nuevo ->', new_country_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>



