<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Paises</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span5">Pais</th>
            <th class="span3"></th>
            <% if current_user.is_administrativo %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @countries.each_with_index do |country, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= country.pais %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_country_path(country) %> |
                <%= link_to 'Eliminar', country, method: :delete, :onclick => "return confirm('Estas Seguro?')", remote: true %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @countries.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-plus-sign"></i><%= link_to 'Registrar Nuevo', new_country_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @countries.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>

