<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Materiales</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Material</th>
            <th>Materia</th>
            <th>Curso</th>
            <th>Fecha</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @materiales.each_with_index do |material, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= link_to material.nombre_material, :action => 'download_file', :id => material.id, :controller => 'materiales'  %></td>
              <td class="selection <%= id %>"><%= material.materia_materia %></td>
              <td class="selection <%= id %>"><%= material.materia.curso_curso %></td>
              <td class="selection <%= id %>"><%= material.created_at.to_s.slice(0,10); %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Eliminar', material, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @materiales.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-arrow-left"></i><%= link_to 'Volver a lista de Materias', materias_path%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @materiales.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
    function cerrar(){
               $("#error").hide();

       }
       function refresh()
        {
                location.reload(true);
        }
</script>