<%= form_for(@alumno, :validate => true)  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="container">
    <div class="row">
      <div id="registro">
        <fieldset>
          <%= f.fields_for :user do |d| %>
            <% if current_user.is_administrativo %>
            <legend>Datos del Alumno</legend>
          <div class="container cuadro">
            <div class="span3">
              <%= d.label :nombre %>
              <%= d.text_field :nombre, :maxlength => 50, :id =>"i_name", class: "span4", :onkeypress => "return validarText(event,this)" %>

              <%= d.label :apellido %>
              <%= d.text_field :apellido, :maxlength => 50, class: "span4", :onkeypress => "return validarText(event,this)" %>
              
              <%= d.label :fecha_nacimiento, "Fecha de Nacimiento" %> 
              <%= d.text_field :fecha_nacimiento, :id=> "fecha", id:"fechaNacAlumn" %>

              <%= d.label :lugar_nacimiento, "Lugar de Nacimiento" %>
              <%= d.select( :lugar_nacimiento ,@cities_city) %> 
            </div>
            <div class="span3 offset1">
                <%= d.label :email, "Correo Electrónico" %>
              <%= d.text_field :email, :maxlength => 30 %>

              <%= d.label :CINro, "C.I.Número" %>
              <%= d.text_field :CINro, :maxlength => 9, :id => "num_identify", class:  "span2" %>

              <%= d.label :telefono, "Teléfono" %>
              <%= d.text_field :telefono, :maxlength => 13, :placeholder => "(xxxx) xxxxxx",  class:  "span2"%>

              <%= d.label :sexo %>
              <%= d.select(:sexo, ['Masculino', 'Femenino' ],{},{class: "span2"})%>
            </div>
            <div class="span3">
              <%= f.label :responsable, "Nombre del Responsable" %>
              <%= f.text_field :responsable, :maxlength => 50, class: "span4", :onkeypress => "return validarText(event,this)" %>

              <%= f.label :telefono_responsable, "Teléfono del Responsable" %>
              <%= f.text_field :telefono_responsable, :maxlength => 13, :placeholder => "(xxxx) xxxxxx", class:  "span2" %>

              <%= f.label :curso_id %>
              <%= f.collection_select :curso_id ,@cursos,:id, :curso_grado,{},{class: "span2"}  %>

              <%= d.label :direccion, "Dirección" %>
              <div id="direccion">
                <%= render 'direccion', addresses: @addresses %>
                <a data-toggle="modal" href="#example" class="direccion">Ingresar nueva direccion</a>
              </div>
            </div>
          </div>

          <% end %>
        </legend>
      </div>

      <div id="registro">
        <fieldset>
          <legend>Datos del Usuario Alumno</legend>
          <div class="container cuadro">
            <div class="span3">
              <%= d.label :username, "Nombre de Usuario" %>
              <%= d.text_field :username, :maxlength => 30 %>

              <%= d.label :password, "Contraseña" %>
              <%= d.password_field :password, :maxlength => 20 %>

              <%= d.label :password_confirmation, "Confirmación" %>
              <%= d.password_field :password_confirmation, :maxlength => 20 %>            
            </div>

            <% if current_user.is_administrativo %>
              <div class="span4 offset1">
                <div class="">
                  <%= f.label "Documentos del Alumno", class: "label" %>
                </div>
                <div class="abajo">
                  <%= f.check_box :doc_cedula, class: "seguido" %>
                  <%= f.label "Fotocopia de Cédula", class: "seguido-espaciado" %>
                </div>
                <div class="abajo">
                  <%= f.check_box :doc_cert_estudios, class: "seguido" %>
                  <%= f.label "Fotocopia de Certificado de Estudio", class: "seguido-espaciado" %>
                </div>
                <div class="abajo">
                  <%= f.check_box :doc_foto, class: "seguido" %>
                  <%= f.label "Foto Tipo Carnet", class: "seguido-espaciado" %>
                </div>
                <div class="abajo">
                  <%= f.check_box :doc_cert_nacimiento, class: "seguido" %>
                  <%= f.label "Certificado de Nacimiento", class: "seguido-espaciado" %>
                </div>
              </div>
              <% if @alumno.id %>
                <div class="row" style= "margin-left: 6px;">
                  <div class="abajo">
                    <span><%= d.label "Agregar Roles", class: "label" %></span>
                    <%= d.check_box :is_alumno, class: "seguido" %>
                    <%= d.label "Alumno", class: "seguido-espaciado" %>
                  </div>
                  <div class="abajo">
                    <%= d.check_box :is_docente, class: "seguido" %>
                    <%= d.label "Docente", class: "seguido-espaciado" %>
                  </div>
                  <div class="abajo">
                    <%= d.check_box :is_administrativo, class: "seguido" %>
                    <%= d.label "Administrativo", class: "seguido-espaciado" %>
                  </div>
                </div>
                <div id="campos_docente" class="row" style="margin-left: 6px; display: none;">
                  <%= label_tag(:label_matricula, "Matricula") %>
                  <%= text_field_tag(:matricula, params[:matricula], :maxlength => 15, id: "num_identify2", class: "span2 seguido-espaciado", :onkeypress => "return validarNumero(this)" ) %>
                  <%= label_tag(:label_titulo, "Titulo") %>
                  <%= text_field_tag(:titulo, params[:titulo], :maxlength => 50, id: "docente_titulo", class: "span4 seguido", :onkeypress => "return validarText(event,this)") %>
                </div>
                <div id="campos_administrativo" class="row" style="margin-left: 6px; display: none;">
                  <%= label_tag :cargo, "Cargo" %>
                  <%= text_field_tag :cargo, params[:cargo], :maxlength => 30, class: "span3",:onkeypress => "return validarText(event,this)" %>
            
                  <%= label_tag :titulo, "Titulo" %>
                  <%= text_field_tag :titulo, params[:titulo], :maxlength => 50, class: "span4",:onkeypress => "return validarText(event,this)" %>
                </div>
              <% end %>
            <% end %>
              <div class="abajo" align="center">
                <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
                <%= link_to "Cancelar", :back, class: "btn btn-large btn-inverse" %>
              </div>
          </div>
            <% end %>
        </fieldset>
    </div>
      
    
  </div>
  
<% end %>

<script type="text/javascript">
 $("form:not(.filter) :input:visible:enabled:first").focus();

$(function() { 
$( "#datepicker" ).datepicker({
showButtonPanel: true
}); 
});

$(function(){
$( "#datepicker" ).datepicker({ maxDate: '+0d' });
});


$(document).ready(function(){
    var administrativo = <%= @alumno.user.is_administrativo || false %>
    var docente = <%= @alumno.user.is_docente || false %>
    aparecer_en_alumno(docente, administrativo);
      //Comprueba que se teclee solo numeros
    $("#num_identify").keypress(function (e)
    {
      //if the letter is not digit then display error and don't type anything
      if( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57))
      {
        return false;
      }
    });
  });

    
  
</script>
