<div class="row">
  <div class="span12 offset2">
    <h1>Listando alumnos</h1>

    <table class="table table-bordered">
      <tr class="table-title">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>CINro</th>
        <th>Curso</th>
        <th>Nivel</th>
        <th>Responsable</th>
        <th>Telefono del responsable</th>
        <th>Cedula</th>
        <th>Cert. estudios</th>
        <th>Foto Carnet</th>
        <th>Cert. nacimiento</th>
        <% if current_user.is_administrativo %>
          <th></th>
          <th></th>
        <% end %>
      </tr>

    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= link_to alumno.user.nombre, alumno %></td>
        <td><%= alumno.user.apellido %></td>
        <td><%= alumno.user.CINro %></td>
        <td><%= alumno.curso.curso %></td>
        <td><%= alumno.curso.nivel %></td>
        <td><%= alumno.responsable %></td>
        <td><%= alumno.telefono_responsable %></td>
        <td><%= alumno.doc_cedula %></td>
        <td><%= alumno.doc_cert_estudios %></td>
        <td><%= alumno.doc_foto %></td>
        <td><%= alumno.doc_cert_nacimiento %></td>
        <% if current_user.is_administrativo %>
          <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>
          <td><%= link_to 'Destruit', alumno, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @alumnos %>
  </div>
</div>

<% if current_user.is_administrativo %>
  <%= link_to 'Nuevo Alumno', new_alumno_path %>
<% end %>

