<div class="container">
  <div class="row">
    <h1 class="h1">Listando alumnos</h1>
    <div class="row" align="right">
      Search:<input type="text" id="kwd_search" value="" class="span3 seguido"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CINro</th>
            <th>Curso</th>
            <th>Nivel</th>
            <th class="span5">Responsable | Telefono </th>
            <th>Cedula</th>
            <th class="span3">Cert. estudios</th>
            <th>Foto</th>
            <th class="span3">Cert. nacimiento</th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @alumnos.each do |alumno| %>
            <tr>
              <td><%= link_to alumno.user.nombre, alumno %></td>
              <td><%= alumno.user.apellido %></td>
              <td><%= alumno.user.CINro %></td>
              <td><%= alumno.curso.curso.split(' ')[0] %></td>
              <td><%= alumno.curso.nivel %></td>
              <td><%= alumno.responsable %> | <%= alumno.telefono_responsable %></td>
              <td><%= alumno.doc_cedula %></td>
              <td><%= alumno.doc_cert_estudios %></td>
              <td><%= alumno.doc_foto %></td>
              <td><%= alumno.doc_cert_nacimiento %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_alumno_path(alumno) %><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @alumnos %>
      <% if current_user.is_administrativo %>
        <%= link_to 'Nuevo Alumno', new_alumno_path %>
      <% end %>
    </div>
  </div>
</div>



