<label class="alert alert-error" style="display: none;" id="error"></label>
<label class="Sample ui-state-highlight style." style="display: none;" id="correcto"></label>
<div class="container">
  <div class="row">
    <legend>Lista de Alumnos del <%= Date.today.year %></legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span2">Nombre</th>
            <th class="span2">Apellido</th>
            <th>CINro</th>
            <th>Curso</th>
            <th>Nivel</th>
            <th class="span4">Responsable | Telefono </th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @alumnos.each_with_index do |alumno, i| %>
          <% id = "page-" + i.to_s %>
            <tr>
              <td class="selection <%= id %>"><%= link_to alumno.user_nombre, alumno %></td>
              <td class="selection <%= id %>"><%= alumno.user_apellido %></td>
              <td class="selection <%= id %>"><%= alumno.user_CINro %></td>
              <td class="selection <%= id %>"><%= alumno.curso_actual.curso_grado %></td>
              <td class="selection <%= id %>"><%= alumno.curso_nivel %></td>
              <td class="selection <%= id %>"><%= alumno.responsable_full %></td>
              <% if current_user.is_administrativo %>
                <td class="selection <%= id %>"><%= link_to 'Editar', edit_alumno_path(alumno) %><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @alumnos.size > 9 %>
        <div id="selector"></div>
      <% end %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf', alumnos_path(:format => 'pdf') %>
          <i class="icon-plus-sign"></i><%= link_to 'Nuevo Alumno', new_alumno_path %>
          <i class="icon-list"></i><%= link_to 'Ver todos los alumnos registrados', index_total_alumnos_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @alumnos.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });

</script>


