<div class="container">
  <div class="row">
    <legend>Lista de Alumnos</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span2">Nombre</th>
            <th class="span2">Apellido</th>
            <th>CINro</th>
            <th>Curso</th>
            <th>Nivel</th>
            <th class="span4">Responsable | Telefono </th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @alumnos.each do |alumno| %>
            <tr>
              <td><%= link_to alumno.user_nombre, alumno %></td>
              <td><%= alumno.user_apellido %></td>
              <td><%= alumno.user_CINro %></td>
              <td><%= alumno.curso_curso.split(' ')[0] %></td>
              <td><%= alumno.curso_nivel %></td>
              <td><%= alumno.responsable %> | <%= alumno.telefono_responsable %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_alumno_path(alumno) %><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @alumnos %>
      <div class="link">
        <% if current_user.is_administrativo %>
          <%= link_to 'Nuevo Alumno', new_alumno_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>



