<div class="container">
  <div class="row">
    <legend>Lista de Alumnos registrados</legend>
    <div class="row" align="right">
      Buscar:<input type="text" id="kwd_search" value="" class="span3 seguido search-query"/> 
    </div>
    <div class="row">
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th class="span2">Nombre</th>
            <th class="span2">Apellido</th>
            <th>CINro</th>
            <th>Curso</th>
            <th>Nivel</th>
            <th>Fecha Registro</th>
            <th class="span3">Responsable | Telefono </th>
            <% if current_user.is_administrativo %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @alumnos.each do |alumno| %>
            <tr>
              <td><%= link_to alumno.user_nombre, alumno %></td>
              <td><%= alumno.user_apellido %></td>
              <td><%= alumno.user_CINro %></td>
              <td><%= alumno.curso_curso.split(' ')[0] %></td>
              <td><%= alumno.curso_nivel %></td>
              <td><%= alumno.created_at.to_s.slice(0,10); %></td>
              <td><%= alumno.responsable_full %></td>
              <% if current_user.is_administrativo %>
                <td><%= link_to 'Editar', edit_alumno_path(alumno) %><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @alumnos %>
      <div align="center" id="vinculos">
        <% if current_user.is_administrativo %>
          <i class="icon-arrow-left"></i><%= link_to 'Volver ', alumnos_path %>
          <i class="icon-file"></i><%= link_to 'Ver Lista como pdf ', index_total_alumnos_path(:format => 'pdf') %>
        <% end %>
      </div>
    </div>
  </div>
</div>



