<% provide(:title, @alumno.user.nombre) %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="cabezera">
    <aside>
      <section>
        <h1>
          Datos del Alumno
        </h1>
      </section>
      <section>
        <h1>
          <%= @alumno.user.nombre %>
        </h1>
        <br/>
        <div>
          <label class="label">Materias</label>
          <% @alumno.curso.materias.each do |materia| %>
            <tr>
              <td><%= link_to materia.materia, materia %></td> 
            </tr>
          <% end %>
        </div>
      </section>
    </aside>
  </div>
  <div class="datos">
    <p>Apellido: <%= @alumno.user.apellido %></p>
    <p>Sexo: <%= @alumno.user.sexo %></p>
    <p>Telefono: <%= @alumno.user.telefono %></p>
    <p>Fecha de Nacimiento: <%= @alumno.user.fecha_nacimiento %></p>
    <p>Lugar de Nacimiento: <%= @alumno.user.lugar_nacimiento %></p>
    <p>Direccion: <%= @alumno.user.address.direccion %></p>
    <p>Edad: <%= @alumno.user.edad %></p>
    <hr>
    <p>Curso: <%= @alumno.curso.curso %></p>
    <p>Nivel: <%= @alumno.curso.nivel %></p>
    <p>Enfasis: <%= @alumno.curso.enfasis %></p>
    <p>Turno: <%= @alumno.curso.turno %></p>
    <p>Nombre del Responsable: <%= @alumno.responsable %> </p>
    <p>Telefono del Responsable: <%= @alumno.telefono_responsable %> </p>
    <hr>
    <% if @alumno.doc_cedula || @alumno.doc_foto || @alumno.doc_cert_nacimiento || @alumno.doc_cert_estudios %>
      <p> Documentos Traidos: <p/>
      <% if @alumno.doc_cedula %> 
        <p>  &nbsp;&nbsp;-Fotocopia de cedula <p/>
      <% end %>
      <% if @alumno.doc_foto %> 
        <p>  &nbsp;&nbsp;-Foto tipo carnet <p/>
      <% end %>
      <% if @alumno.doc_cert_nacimiento %> 
        <p>  &nbsp;&nbsp;-Certificado de Nacimiento <p/>
      <% end %>
      <% if @alumno.doc_cert_estudios %> 
        <p>  &nbsp;&nbsp;-Certificados de estudios </p>
      <% end %>
       <% if !@alumno.doc_cedula || !@alumno.doc_foto || !@alumno.doc_cert_nacimiento || !@alumno.doc_cert_estudios %>
        <p> Documentos Faltantes: <p/>
        <% if !@alumno.doc_cedula %> 
          <p>  &nbsp;&nbsp;-Fotocopia de cedula <p/>
        <% end %>
        <% if !@alumno.doc_foto %> 
          <p>  &nbsp;&nbsp;-Foto tipo carnet <p/>
        <% end %>
        <% if !@alumno.doc_cert_nacimiento %> 
          <p>  &nbsp;&nbsp;-Certificado de Nacimiento <p/>
        <% end %>
        <% if !@alumno.doc_cert_estudios %> 
          <p>  &nbsp;&nbsp;-Certificados de estudios </p>
        <% end %>
       <% end %>
    <% else %>
       <p class="label label-important"> No trajo ningun documento aun. <p/>
    <% end %>
  </div>
</div>
</div>
