<% provide(:title, @alumno.user_nombre) %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="span3">
    <aside>
      <section>
        <h1>
          Datos del Alumno
        </h1>
      </section>
      <section>
        <h1>
          <%= @alumno.user_nombre %>
        </h1>
        <hr/>
        <div id="vinculos">
          <% if current_user.is_administrativo %>
            <i class="icon-edit"></i><%= link_to 'Editar Datos', edit_alumno_path(@alumno) %>
          <% end %>
          <br/>
            <i class="icon-eye-open"></i><%= link_to 'Ver mis notas', alumno_calificaciones_alumno_path %>
          <br/>
            <i class="icon-arrow-left"></i><%= link_to 'Volver ', alumnos_path %>
        </div>
          <div>
          <hr/>
          <label class="label">Cursos</label>
          <ul class="nav nav-tabs nav-stacked">
            <% @alumno.cursos.each do |curso| %>
              <li class="li"><%= link_to curso.curso_grado, change_curso_alumno_path(@alumno, curso_id: curso) %> </li>
            <% end %>
          </ul>
          <hr/>
          <label class="label">Materias</label>
          <ul class="nav nav-tabs nav-stacked">
            <% materias = @alumno.curso.materias %>
            <% materias.each do |materia| %>
              <li class="li"><%= link_to materia.materia + " | " + materia.docente.full_name , materia%> </li>
            <% end %>
          </ul>
        </div>
      </section>
    </aside>
  </div>
  <div class="span4">
    <p><b>Apellido:</b> <%= @alumno.user_apellido %></p>
    <p><b>Sexo:</b> <%= @alumno.user_sexo %></p>
    <p><b>Telefono:</b> <%= @alumno.user_telefono %></p>
    <p><b>Fecha de Nacimiento:</b> <%= @alumno.user_fecha_nacimiento %></p>
    <p><b>Lugar de Nacimiento:</b> <%= @alumno.user_lugar_nacimiento %></p>
    <p><b>Direccion:</b> <%= @alumno.user.address.direccion %></p>
    <p><b>Edad:</b> <%= @alumno.user_edad %></p>
    <hr>
    <p><b>Nombre del Responsable:</b> <%= @alumno.responsable %> </p>
    <p><b>Telefono del Responsable:</b> <%= @alumno.telefono_responsable %> </p>
    <p><b>Curso Actual:</b> <%= @alumno.curso_actual.curso_grado %></p>
    <p><b>--------Nivel:</b> <%= @alumno.curso_actual.nivel %></p>
    <p><b>--------Enfasis:</b> <%= @alumno.curso_actual.enfasis %></p>
    <p><b>--------Turno:</b> <%= @alumno.curso_actual.turno %></p>
    <p><b>Curso Seleccionado:</b> <%= @alumno.curso_curso_grado %></p>
    <p><b>--------Nivel:</b> <%= @alumno.curso_nivel %></p>
    <p><b>--------Enfasis:</b> <%= @alumno.curso_enfasis %></p>
    <p><b>--------Turno:</b> <%= @alumno.curso_turno %></p>
    <hr>
    <% if @alumno.doc_cedula || @alumno.doc_foto || @alumno.doc_cert_nacimiento || @alumno.doc_cert_estudios %>
      <p><b> Documentos Presentados:</b> <p/>
      <% if @alumno.doc_cedula %> 
        <p>  &nbsp;&nbsp;-Fotocopia de cedula <p/>
      <% end %>
      <% if @alumno.doc_foto %> 
        <p>  &nbsp;&nbsp;-Foto tipo carnet <p/>
      <% end %>
      <% if @alumno.doc_cert_nacimiento %> 
        <p>  &nbsp;&nbsp;-Certificado de Nacimiento <p/>
      <% end %>
      <% if @alumno.doc_cert_estudios %> 
        <p>  &nbsp;&nbsp;-Certificados de estudios </p>
      <% end %>
       <% if !@alumno.doc_cedula || !@alumno.doc_foto || !@alumno.doc_cert_nacimiento || !@alumno.doc_cert_estudios %>
        <p><b> Documentos Faltantes:</b> <p/>
        <% if !@alumno.doc_cedula %> 
          <p>  &nbsp;&nbsp;-Fotocopia de cedula <p/>
        <% end %>
        <% if !@alumno.doc_foto %> 
          <p>  &nbsp;&nbsp;-Foto tipo carnet <p/>
        <% end %>
        <% if !@alumno.doc_cert_nacimiento %> 
          <p>  &nbsp;&nbsp;-Certificado de Nacimiento <p/>
        <% end %>
        <% if !@alumno.doc_cert_estudios %> 
          <p>  &nbsp;&nbsp;-Certificados de estudios </p>
        <% end %>
       <% end %>
    <% else %>
       <p class="label label-important"> No trajo ningun documento aun. <p/>
    <% end %>
  </div>
  <div class="span4">
    <label class="label"> Próximas Tareas </label>
    <ul class="nav nav-tabs nav-stacked">
      <% materias.each do |materia| %>
        <% materia.planificaciones.where(:fecha_entrega => Date.today..(Date.today + 7)).each do |tarea| %>
          <li><b>Tarea:</b> <%= tarea.tarea %>
            <br/>&nbsp;&nbsp;<b>Materia:</b> <%= materia.materia %>
            <br/>&nbsp;&nbsp;<b>Fecha de Entrega:</b> <%= time_ago_in_words(tarea.fecha_entrega) %></li> 
            <br/>&nbsp;&nbsp;<b>Fecha de Entrega:</b> <%= tarea.fecha_entrega %></li>
          <hr/>
        <% end %>
      <% end %>
    </ul>
    <label class="label"> Mis notas </label>
      <table id="my-table" class="table table-bordered">
        <thead class="table-title">
          <tr>
            <th>Tarea</th>
            <th>Total</th>
            <th>Puntaje</th>
          </tr>
        </thead>
        <tbody>
          <% @alumno.puntajes.by_month(Date.today.month).each do |puntaje| %>
            <tr>
              <td><%= puntaje.planificacion.tarea %></td>
              <td><%= puntaje.planificacion.total_puntos %></td>
              <td><%= puntaje.puntaje %></td>
            </tr>
          <% end %>
        </tbody>
  </div>
</div>
</div>
