<div class="row" style="margin: 25px;">

	<div id="registro">
    <fieldset>
      <legend>Iniciar Sesión</legend>
    <div class="container cuadro">
 		<div class="span4 offset3">
  	    	<p class="error"><%= flash[:error] %></p>
				<%= form_tag sessions_path do %>
		  		<div class="field">
		   		 <%= label_tag :username, "Usuario" %>
		    	 <%= text_field_tag :username, params[:username] , :maxlength => 30 %>
		  		</div>
		  		<div class="field">
		    	 <%= label_tag :password, "Contraseña" %>
		    	 <%= password_field_tag :password %>
		  		</div>
		  		<div class="field" >
		   		 <%= check_box_tag :remember_me, 1, params[:remember_me] %>
		    	 <%= label_tag :remember_me, "Recordarme" %>
		  		</div>
		</div>

		<div class="span4 offset3">
			<div class="actions" align="center">
				<%= submit_tag "Entrar", class: "btn btn-large btn-primary" %>
				<%= link_to "Cancelar", root_path, class: "btn btn-large btn-primary", id: "colorBoton"%>
			</div>	
		</div>
	</div>
		<% end %>
	</div>
</div>